apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment-green
  namespace: fourweekdays-back
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
      type: backend
      ver: green
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: backend
        type: backend
        ver: green
    spec:
      containers:
        - name: container
          image: tipsyboy/backend:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: backend-config
          livenessProbe:
            httpGet:
              path: /api/actuator/health
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /api/actuator/health
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 10
            successThreshold: 2
            failureThreshold: 5
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
      terminationGracePeriodSeconds: 30