auth:
  rootPassword: # [root password]
  database: four_weekdays
  username: weekboy
  password: # [weekboy password]

passwordUpdateJob:
  enabled: true

primary:
  persistence:
    enabled: true
    size: 5Gi
    storageClass: longhorn
  service:
    type: ClusterIP
    port: 3306

secondary:
  replicaCount: 0